{% extends 'base.html.twig' %}

{% block body %}

<section>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <h2 class="col-12 page-title">AFFICHES & POSTERS</h2>
        </div>

        <div class="row justify-content-center">
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/affiche/sazura_affiche_1.jpg') }}">
                <div class="img-desc">
                    <h2>Rare Black Hoodie</h2>
                    <p>En collaboration avec</p>
                    <p class="bold">@arc.oz</p>
                </div>
            </div>
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/affiche/sazura_affiche_2.jpg') }}">
                <div class="img-desc">
                    <h2>Rare White Hoodie</h2>
                    <p>En collaboration avec</p>
                    <p class="bold">@arc.oz</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/affiche/sazura_affiche_3.jpg') }}">
                <div class="img-desc">
                    <h2>Rare Purple Hoodie</h2>
                    <p>En collaboration avec</p>
                    <p class="bold">@arc.oz</p>
                </div>
            </div>
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/affiche/sazura_affiche_4.jpg') }}">
                <div class="img-desc">
                    <h2>Rare Black Crewneck</h2>
                    <p>En collaboration avec</p>
                    <p class="bold">@arc.oz</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/affiche/sazura_affiche_5.png') }}">
                <div class="img-desc">
                    <h2>Anarko x Foot Korner</h2>
                    <p>Réalisation d’un collage pour la nouvelle capsule FIRE BORN d’Anarko</p>
                </div>
            </div>
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/affiche/sazura_affiche_6.png') }}">
                <div class="img-desc">
                    <h2>Anarko x Foot Korner</h2>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 ">
                <div class="container-fluid flex-column" style="padding-left:157px">
                    <div class="gallery-img">
                        <img class="col-img"  id="affiche-travis"  src="{{ asset('img/affiche/sazura_affiche_7.jpg') }}">
                        <div class="img-desc">
                            <h2>Poster netflix</h2>
                            <h2>Travis Scott “Look mom i can fly”</h2>
                        </div>
                    </div>
                    <div class="gallery-img">
                        <img class="col-img" src="{{ asset('img/affiche/sazura_affiche_9.jpg') }}">
                        <div class="img-desc">
                            <h2>Poster Weyz</h2>
                            <h2> collection international </h2>
                        </div>
                    </div>

                </div>
            </div>


            <div class="col-6">
                <div class="container-fluid flex-column" style="padding-left:0px">
                    <div class="gallery-img" style="margin-left:67px;width:600px">
                        <img class="col-img"   src="{{ asset('img/affiche/sazura_affiche_8.jpg') }}">
                        <div class="img-desc">
                            <h2>Poster Nike Air Max 720</h2>
                        </div>
                    </div>
                    <div class="gallery-img" style="margin-left:67px;width:600px">
                        <img class="col-img" src="{{ asset('img/affiche/sazura_affiche_10.jpg') }}">
                        <div class="img-desc">
                            <h2>Affiches promotion marché noir</h2>
                        </div>
                    </div>
                    <div class="gallery-img" style="margin-left:67px;width:600px">
                        <img class="col-img"  src="{{ asset('img/affiche/sazura_affiche_11.jpg') }}">
                        <div class="img-desc">
                            <h2>Affiches concert Josué</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="imgModalTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-l" role="document">
    <div class="modal-content">
        <div class="modal-body d-flex justify-content-center">
            <img class="modal-close" src="{{ asset('img/close.png') }} " data-dismiss="modal" aria-label="Close">
            <img class="modal-img" src="#">
        </div>

    </div>
</div>
</div>

{% endblock %}
