{% extends 'base.html.twig' %}

{% block body %}

<section class="picspage">

    <div class="container-fluid">
        <div class="row justify-content-center">
            <h2 class="col-12 page-title">POCHETTES ALTERNATIVES</h2>
        </div>

        <div class="row justify-content-center">
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/alter/sazura_pochette_alternative_1.jpg') }}">
                <div class="img-desc">
                    <h2>Gazo ft Freeze Corleone - Drill Fr 4</h2>
                    <p>En collaboration avec</p>
                    <p class="bold">@kazeda_</p>
                </div>
            </div>
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/alter/sazura_pochette_alternative_6.jpg') }}">
                <div class="img-desc">
                    <h2>Jackboys - What to do</h2>

                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/alter/sazura_pochette_alternative_3.jpg') }}">
                <div class="img-desc">
                    <h2>Booba - Cavaliero</h2>
                    <p>En collaboration avec</p>
                    <p class="bold">@artbt_</p>
                </div>
            </div>
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/alter/sazura_pochette_alternative_4.jpg') }}">
                <div class="img-desc">
                    <h2>Lil uzi vert - Eternal atake</h2>

                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/alter/sazura_pochette_alternative_7.jpg') }}">
                <div class="img-desc">
                    <h2>The Weeknd - Blinding Lights</h2>

                </div>
            </div>
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/alter/sazura_pochette_alternative_8.jpg') }}">
                <div class="img-desc">
                    <h2>A2H ft Jok’air - </h2>
                    <h2>Jeune voyou cherche love</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/alter/sazura_pochette_alternative_9.jpg') }}">
                <div class="img-desc">
                    <h2>Capitaine Roshi - Cérémonie</h2>
                    <p>En collaboration avec</p>
                    <p class="bold">@kazeda_</p>
                </div>
            </div>
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/alter/sazura_pochette_alternative_10.jpg') }}">
                <div class="img-desc">
                    <h2>Jaden - Erys</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/alter/sazura_pochette_alternative_11.jpg') }}">
                <div class="img-desc">
                    <h2>Beeby - Genesis</h2>

                </div>
            </div>
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/alter/sazura_pochette_alternative_12.jpg') }}">
                <div class="img-desc">
                    <h2>Pnl - Mowgli II</h2>

                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/alter/sazura_pochette_alternative_13.jpg') }}">
                <div class="img-desc">
                    <h2>Kekra - Wing Chun</h2>

                </div>
            </div>
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/alter/sazura_pochette_alternative_14.jpg') }}">
                <div class="img-desc">
                    <h2>Kalash Criminel - Fatality</h2>

                </div>
            </div>
        </div>


    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="imgModalTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-l" role="document">
    <div class="modal-content">
        <div class="modal-body d-flex justify-content-center">
            <img class="modal-close" src="{{ asset('img/close.png') }} " data-dismiss="modal" aria-label="Close">
            <img class="modal-img" src="#">
        </div>

    </div>
</div>
</div>

{% endblock %}
