{% extends 'base.html.twig' %}

{% block body %}

<section>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <h1 class="col-12 page-title">CONCERT ZAMDANE</h1>
        </div>

        <div class="row justify-content-center">
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/concert/zamdane/sazura_zamdane_1.jpg') }}">
                <p class="img-title">ZAMDANE</p>
            </div>
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/concert/zamdane/sazura_zamdane_2.jpg') }}">
                <p class="img-title">ZAMDANE</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/concert/zamdane/sazura_zamdane_3.jpg') }}">
                <p class="img-title">ZAMDANE</p>
            </div>
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/concert/zamdane/sazura_zamdane_4.jpg') }}">
                <p class="img-title">ZAMDANE</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="gallery-img">
                <img class="col-img" id="zamdane-5" src="{{ asset('img/concert/zamdane/sazura_zamdane_5.jpg') }}">
                <p class="img-title">ZAMDANE</p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/concert/zamdane/sazura_zamdane_6.jpg') }}">
                <p class="img-title">AVEPURLPELORD</p>
            </div>
             <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/concert/zamdane/sazura_zamdane_7.jpg') }}">
                <p class="img-title">AVEPURLPELORD</p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/concert/zamdane/sazura_zamdane_8.jpg') }}">
                <p class="img-title">AVEPURLPELORD</p>
            </div>
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/concert/zamdane/sazura_zamdane_9.jpg') }}">
                <p class="img-title">AVEPURLPELORD</p>
            </div>
        </div>



    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="imgModalTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-l" role="document">
    <div class="modal-content">
        <div class="modal-body d-flex justify-content-center">
            <img class="modal-close" src="{{ asset('img/close.png') }} " data-dismiss="modal" aria-label="Close">
            <img class="modal-photo" src="#">
        </div>

    </div>
</div>
</div>

{% endblock %}
