{% extends 'base.html.twig' %}

{% block body %}

<section>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <h2 class="col-12 page-title">CONCERT 13 BLOCK</h2>
        </div>

        <div class="row justify-content-center">
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/concert/13block/sazura_13block_1.jpg') }}">
                <p class="img-title">ZED</p>
            </div>
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/concert/13block/sazura_13block_2.jpg') }}">
                <p class="img-title">SIDIKEY</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/concert/13block/sazura_13block_3.jpg') }}">
                <p class="img-title">STAVO</p>
            </div>
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/concert/13block/sazura_13block_4.jpg') }}">
                <p class="img-title">STAVO</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/concert/13block/sazura_13block_5.jpg') }}">
                <p class="img-title">ZED</p>
            </div>
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/concert/13block/sazura_13block_6.jpg') }}">
                <p class="img-title">ZED</p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/concert/13block/sazura_13block_7.jpg') }}">
                <p class="img-title">ZED</p>
            </div>
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/concert/13block/sazura_13block_8.jpg') }}">
                <p class="img-title">SIDIKEY</p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="gallery-img">
                <img class="col-img" style="height:890px" src="{{ asset('img/concert/13block/sazura_13block_9.jpg') }}">
                <p class="img-title">ZEFOR</p>
            </div>
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/concert/13block/sazura_13block_10.jpg') }}">
                <p class="img-title">ZED</p>
            </div>
        </div>



    </div>
</section>


<!-- Modal -->
<div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="imgModalTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-l" role="document">
    <div class="modal-content">
        <div class="modal-body d-flex justify-content-center">
            <img class="modal-close" src="{{ asset('img/close.png') }} " data-dismiss="modal" aria-label="Close">
            <img class="modal-photo" src="#">
        </div>

    </div>
</div>
</div>


{% endblock %}
