{% extends 'base.html.twig' %}

{% block body %}

<section>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <h2 class="col-12 page-title">CONCERT PALACE PARTY</h2>
        </div>

        <div class="row justify-content-center">
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/concert/palace/sazura_palace_1.jpg') }}">
                <p class="img-title">A2H</p>
            </div>
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/concert/palace/sazura_palace_2.jpg') }}">
                <p class="img-title">Emma Vander</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/concert/palace/sazura_palace_3.jpg') }}">
                <p class="img-title">Emma Vander</p>
            </div>
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/concert/palace/sazura_palace_4.jpg') }}">
                <p class="img-title">Josué</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/concert/palace/sazura_palace_5.jpg') }}">
                <p class="img-title">Josué</p>
            </div>
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/concert/palace/sazura_palace_6.jpg') }}">
                <p class="img-title">Josué</p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/concert/palace/sazura_palace_7.jpg') }}">
                <p class="img-title">Josué</p>
            </div>
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/concert/palace/sazura_palace_8.jpg') }}">
                <p class="img-title">Ori</p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/concert/palace/sazura_palace_9.jpg') }}">
                <p class="img-title">Ori</p>
            </div>
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/concert/palace/sazura_palace_10.jpg') }}">
                <p class="img-title">Ori</p>
            </div>
        </div>



    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="imgModalTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-l" role="document">
    <div class="modal-content">
        <div class="modal-body d-flex justify-content-center">
            <img class="modal-close" src="{{ asset('img/close.png') }} " data-dismiss="modal" aria-label="Close">
            <img class="modal-photo" src="#">
        </div>

    </div>
</div>
</div>

{% endblock %}
