{% extends 'base.html.twig' %}

{% block body %}

<section>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <h2 class="col-12 page-title">LOGOS</h2>
        </div>

        <div class="row justify-content-center">
            <div class="gallery-img">
                <img class="col-logo" src="{{ asset('img/logos/sazura_logo_1.png') }}">
                <div class="img-desc">
                    <h2>Sazura logo + typo</h2>
                </div>
            </div>

        </div>
        <div class="row justify-content-center">
            <div class="gallery-img">
                <img class="col-logo" src="{{ asset('img/logos/sazura_logo_2.png') }}">
                <div class="img-desc">
                    <h2>Sazura logo</h2>

                </div>
            </div>
        </div>
        <div class="row justify-content-center">
        <div class="gallery-img">
            <img class="col-logo" src="{{ asset('img/logos/sazura_logo_3.png') }}">
            <div class="img-desc">
                <h2>Yarami</h2>
                <p>Beatmaker</p>
            </div>
        </div>
        </div>
        <div class="row justify-content-center">
            <div class="gallery-img">
                <img class="col-logo" src="{{ asset('img/logos/sazura_logo_4.png') }}">
                <div class="img-desc">
                    <h2>Aubin Menestret</h2>
                    <p>Photographe</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="gallery-img">
                <img class="col-logo" src="{{ asset('img/logos/sazura_logo_5.png') }}">
                <div class="img-desc">
                    <h2>ADsynthetic</h2>
                    <p>Entreprise de BTP</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="gallery-img">
                <img class="col-logo" src="{{ asset('img/logos/sazura_logo_6.png') }}">
                <div class="img-desc">
                    <h2>Vosgelis Center</h2>
                    <p>Entreprise d’immobilier</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="gallery-img">
                <img class="col-logo" src="{{ asset('img/logos/sazura_logo_7.png') }}">
                <div class="img-desc">
                    <h2>Jeune Habitant</h2>
                    <p>Entreprise d’immobilier</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="gallery-img">
                <img class="col-logo" src="{{ asset('img/logos/sazura_logo_8.png') }}">
                <div class="img-desc">
                    <h2>Vosgelis Construction</h2>
                    <p>Entreprise de bâtiment</p>
                </div>
            </div>
        </div>





    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="imgModalTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-l" role="document">
    <div class="modal-content">
        <div class="modal-body d-flex justify-content-center">
            <img class="modal-close" src="{{ asset('img/close.png') }} " data-dismiss="modal" aria-label="Close">
            <img class="modal-img" style="width:1380px"src="#">
        </div>

    </div>
</div>
</div>

{% endblock %}
