{% extends 'base.html.twig' %}

{% block body %}

    <section class="picspage">

        <div class="container-fluid">
            <div class="row justify-content-center">
                <h2 class="col-12 page-title">POCHETTES OFFICIELLES</h2>
            </div>

            <div class="row justify-content-center">
                <div class="gallery-img">
                    <img class="col-img" src="{{ asset('img/offi/VIVANT-Haristone.jpeg') }}">
                    <div class="img-desc">
                        <h2>BEEBY - MorningStar</h2>
                        <p>En collaboration avec</p>
                        <p class="bold"><a href="https://www.instagram.com/thejag_war/">@thejag_war</a></p>
                    </div>
                </div>
                <div class="gallery-img">
                    <img class="col-img" src="{{ asset('img/offi/sazura_pochette_officielle_17.jpeg') }}">
                    <div class="img-desc">
                        <h2>BEEBY - MorningStar</h2>
                        <p>En collaboration avec</p>
                        <p class="bold"><a href="https://www.instagram.com/liltrashyboi/?hl=fr">@liltrashyboi</a></p>
                    </div>
                </div>
                
            </div>

            <div class="row justify-content-center">
             <div class="gallery-img">
                    <img class="col-img" src="{{ asset('img/offi/sazura_pochette_officielle_18.jpeg') }}">
                    <div class="img-desc">
                        <h2>4KEUS - Bosse Comme Un Boss</h2>
                    </div>
                </div>
                <div class="gallery-img">
                    <img class="col-img" src="{{ asset('img/offi/sazura_pochette_officielle_1.jpg') }}">
                    <div class="img-desc">
                        <h2>Jey - 207</h2>
                        <p>En collaboration avec</p>
                        <p class="bold"><a href="https://www.instagram.com/wokuplucid/?hl=fr">@wokuplucid</a></p>
                    </div>
                </div>
                
            </div>

            <div class="row justify-content-center">
             <div class="gallery-img">
                    <img class="col-img" src="{{ asset('img/offi/sazura_pochette_officielle_2.jpg') }}">
                    <div class="img-desc">
                        <h2>FSS - Lumière noire</h2>
                    </div>
                </div>
                <div class="gallery-img">
                    <img class="col-img" src="{{ asset('img/offi/sazura_pochette_officielle_3.jpg') }}">
                    <div class="img-desc">
                        <h2>Beeby - Larme de lave</h2>
                        <p>En collaboration avec</p>
                        <p class="bold" style="color:#007bff">@zycarus</p>
                    </div>
                </div>
                
            </div>

            <div class="row justify-content-center">
             <div class="gallery-img">
                    <img class="col-img" src="{{ asset('img/offi/sazura_pochette_officielle_4.jpg') }}">
                    <div class="img-desc">
                        <h2>Furlax - Infini</h2>
                    </div>
                </div>
                <div class="gallery-img">
                    <img class="col-img" src="{{ asset('img/offi/sazura_pochette_officielle_5.jpg') }}">
                    <div class="img-desc">
                        <h2>SOPICO - ËPISODE 0</h2>
                        <p>En collaboration avec</p>
                        <p class="bold"><a href="https://www.instagram.com/yannick_draw/?hl=fr">@yannick_draw</a> / <a href="https://www.instagram.com/sempers__/?hl=fr">@sempers_</a></p>
                    </div>
                </div>
                
            </div>

            <div class="row justify-content-center">
                <div class="gallery-img">
                    <img class="col-img" src="{{ asset('img/offi/sazura_pochette_officielle_6.jpg') }}">
                    <div class="img-desc">
                        <h2>Beeby - Hotline</h2>
                    </div>
                </div>
               <div class="gallery-img">
                    <img class="col-img" src="{{ asset('img/offi/sazura_pochette_officielle_11.jpg') }}">
                    <div class="img-desc">
                        <h2>Beeby - Hiver 2019</h2>
                    </div>
                </div>
                
            </div>

            <div class="row justify-content-center">
                <div class="gallery-img">
                    <img class="col-img" src="{{ asset('img/offi/sazura_pochette_officielle_8.jpg') }}">
                    <div class="img-desc">
                        <h2>Zamdane - Low</h2>
                        <p>En collaboration avec</p>
                        <p class="bold"><a href="https://www.instagram.com/coraliewaterlot/?hl=fr">@coraliewaterlot</a></p>
                    </div>
                </div>
                <div class="gallery-img">
                    <img class="col-img" src="{{ asset('img/offi/sazura_pochette_officielle_9.jpg') }}">
                    <div class="img-desc">
                        <h2>Joss - Payday</h2>

                    </div>
                </div>
                
            </div>

            <div class="row justify-content-center">
                <div class="gallery-img">
                    <img class="col-img" src="{{ asset('img/offi/sazura_pochette_officielle_10.jpg') }}">
                    <div class="img-desc">
                        <h2>Thahomey - Storm Rising</h2>
                        <p>En collaboration avec</p>
                        <p class="bold"><a href="https://www.instagram.com/blackswordcreatives/?hl=fr">@blackswordcreatives</a></p>

                    </div>
                </div>
                <div class="gallery-img">
                    <img class="col-img" src="{{ asset('img/offi/sazura_pochette_officielle_13.jpg') }}">
                    <div class="img-desc">
                        <h2>Twenty - Menace 4</h2>
                    </div>

                </div>
               
            </div>
            
            <div class="row justify-content-center">
             <div class="gallery-img">
                    <img class="col-img" src="{{ asset('img/offi/sazura_pochette_officielle_16.jpg') }}">
                    <div class="img-desc">
                        <h2>Veerus ft freeze corleone - </h2>
                        <h2>KKK</h2>
                    </div>

                </div>
                <div class="gallery-img">
                    <img class="col-img" src="{{ asset('img/offi/sazura_pochette_officielle_15.jpg') }}">
                    <div class="img-desc">
                        <h2>Veerus - I6</h2>
                    </div>
                </div>
                

            </div>

        </div>
    </section>

    <div class="footer_acceuil">
        <p class="text-footer">ALL RIGHTS RESERVED©SAZURAVISUALS-STUDIOIKAR/2021</p>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="imgModalTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-l" role="document">
            <div class="modal-content">
                <div class="modal-body d-flex justify-content-around">
                    <img class="modal-close" src="{{ asset('img/close.png') }} " data-dismiss="modal"
                         aria-label="Close">
                    <img class="modal-img" src="#">
                </div>

            </div>
        </div>
    </div>
{% endblock %}
