{% extends 'base.html.twig' %}

{% block body %}

<section class="picspage">

    <div class="container-fluid">
        <div class="row justify-content-center">
            <h2 class="col-12 page-title">ENTER IN MY VISION</h2>
        </div>

        <div class="row justify-content-center">
        <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/vision/sazura_vision_6.jpg') }}">
                <div class="img-desc">
                    <h2>The dragon's god</h2>
                    <p>D.A et réalisation par</p>
                    <p class="bold"><a href="https://www.instagram.com/sazuravisuals/">@sazuravisuals</a></p>
                </div>
            </div>
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/vision/sazura_vision_1.jpg') }}">
                <div class="img-desc">
                    <h2>La malédiction ou le rituel du Lycanthrope</h2>
                    <p>D.A et réalisation par</p>
                    <p class="bold"><a href="https://www.instagram.com/sazuravisuals/">@sazuravisuals</a></p>
                </div>
            </div>
            
        </div>
        <div class="row justify-content-center">
        <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/vision/sazura_vision_2.jpg') }}">
                <div class="img-desc">
                    <h2>Le jardin d’Eden, les portes du paradis</h2>
                    <p> D.A et réalisation par</p> 
                    <p class="bold"><a href="https://www.instagram.com/sazuravisuals/">@sazuravisuals</a></p>
                </div>
            </div>
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/vision/sazura_vision_3.jpg') }}">
                <div class="img-desc">
                    <h2>La danse des âmes</h2>
                    <p>En collaboration avec</p>
                    <p class="bold"><a href="https://www.instagram.com/sprityboi/?hl=fr">@sprityboi</a></p>
                </div>
            </div>
            
        </div>
        <div class="row justify-content-center">
        <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/vision/sazura_vision_4.jpg') }}">
                <div class="img-desc">
                    <h2>L’éveil du Buddha</h2>
                    <p> D.A et réalisation par</p>
                    <p class="bold"><a href="https://www.instagram.com/sazuravisuals/">@sazuravisuals</a></p>
                </div>
            </div>
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/vision/sazura_vision_5.jpg') }}">
                <div class="img-desc">
                    <h2>Energie ball + Vision</h2>
                    <p>D.A et réalisation par</p>
                    <p class="bold"><a href="https://www.instagram.com/sazuravisuals/">@sazuravisuals</a></p>
                </div>
            </div>
            <div class="gallery-img">
                <div class="col-img"></div>
            </div>
        </div>

    </div>
</section>

<div class="footer_acceuil">
        <p class="text-footer">ALL RIGHTS RESERVED©SAZURAVISUALS-STUDIOIKAR/2021</p>
    </div>

<!-- Modal -->
<div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="imgModalTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-l" role="document">
    <div class="modal-content">
        <div class="modal-body d-flex justify-content-center">
            <img class="modal-close" src="{{ asset('img/close.png') }} " data-dismiss="modal" aria-label="Close">
            <img class="modal-img" src="#">
        </div>

    </div>
</div>
</div>

{% endblock %}
