{% extends 'base.html.twig' %}

{% block body %}

<section class="picspage">

    <div class="container-fluid">
        <div class="row justify-content-center">
            <h2 class="col-12 page-title">FONDS D'ÉCRAN</h2>
        </div>

        <div class="row justify-content-center">
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/wallpaper/sazura_wallpaper_1.jpg') }}">
                <div class="img-desc">
                    <h2>Beeby - Hotline</h2>
                </div>
            </div>
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/wallpaper/sazura_wallpaper_2.jpg') }}">
                <div class="img-desc">
                    <h2>Booba - Cavaliero</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/wallpaper/sazura_wallpaper_3.jpg') }}">
                <div class="img-desc">
                    <h2>Le jardin d’Eden, les portes du paradis</h2>
                </div>
            </div>
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/wallpaper/sazura_wallpaper_4.png') }}">
                <div class="img-desc">
                    <h2>La danse des âmes</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/wallpaper/sazura_wallpaper_5.jpg') }}">
                <div class="img-desc">
                    <h2>Look mom i can fly</h2>
                </div>
            </div>
            <div class="gallery-img">
                <img class="col-img" src="{{ asset('img/wallpaper/sazura_wallpaper_6.jpg') }}">
                <div class="img-desc">
                    <h2>Sopico - Ëpisode 0</h2>
                </div>
            </div>
        </div>



    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="imgModalTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-l" role="document">
    <div class="modal-content">
        <div class="modal-body d-flex justify-content-center">
            <img class="modal-close" src="{{ asset('img/close.png') }} " data-dismiss="modal" aria-label="Close">
            <img class="modal-photo" src="#">
        </div>

    </div>
</div>
</div>

{% endblock %}
