{% extends 'base.html.twig' %}
{% block body_class %}homepage{% endblock %}

{% block body %}




    <section id="home-screen" data-scroll="0" class="current">

        <img src="{{ asset('img/logo.gif') }}" class="home-anim" alt="sazura_logo">

        <img src="{{ asset('img/sazura_logo_noir.png') }}" id="home-img" alt="sazura_logo_noir">

        {# <div id="home-desc"> #}
        {# <span>GRAPHISTE</span> #}
        {# <span>PHOTOGRAPHE</span> #}
        {# <span>DIRECTEUR ARTISTIQUE</span> #}
        {# </div> #}


    </section>

    <section class="home-scroll container" data-scroll="1" >
        <a href="{{ path('offi') }}" class="home-link" id="home-poch-offi"id="graphisme">
            <h2>POCHETTES OFFICIELLES</h2>
            <span> Sopico / Zamdane / Beeby / ...</span>
        </a>
        <h2 class="bottom-title">POCHETTES ALTERNATIVES</h2>

    </section>

    <section class="home-scroll container" data-scroll="2">

        <h2 class="top-title">POCHETTES OFFICIELLES</h2>
        <a href="{{ path('alter') }}" class="home-link" id="home-poch-alter">
            <h2>POCHETTES ALTERNATIVES</h2>

            <span> The Weeknd / Gazo / Rihanna / …</span>
        </a>
        <h2 class="bottom-title">ENTER IN MY VISION</h2>
    </section>

    <section class="home-scroll container" data-scroll="3">
        <h2 class="top-title">POCHETTES ALTERNATIVES</h2>
        <a href="{{ path('vision') }}" class="home-link" id="home-vision">
            <h2>ENTER IN MY VISION</h2>
            <span> Le jardin d’Eden / La danse des âmes / …</span>
        </a>
        <h2 class="bottom-title">AFFICHES & POSTERS</h2>
    </section>

    <section class="home-scroll container" data-scroll="4">
        <h2 class="top-title">ENTER IN MY VISION</h2>
        <a href="{{ path('affiche') }}" class="home-link" id="home-affiche">
            <h2>AFFICHES & POSTERS</h2>
            <span> Nike Air Max 720 / Travis Scott Netflix / …</span>
        </a>
        <h2 class="bottom-title">LOGOS</h2>
    </section>

    <section class="home-scroll container" data-scroll="5">
        <h2 class="top-title">AFFICHES & POSTERS</h2>
        <a href="{{ path('logo') }}" class="home-link" id="home-logo">
            <h2>LOGOS</h2>
            <span> Yarami / Vosgelis Center / …</span>
        </a>
        <h2 class="bottom-title">FONDS D'ÉCRAN</h2>
    </section>


    <section class="home-scroll container" data-scroll="6" data-parallax="scroll">
        <h2 class="top-title">AFFICHES & POSTERS</h2>
        <a href="{{ path('wallpaper') }}" class="home-link" id="home-wallpaper">
            <h2>FONDS D'ÉCRAN</h2>
            <span> Hotline / Ëpisode 0 / …</span>
        </a>

    </section>

    <section class="home-scroll container" data-scroll="7">
        <a href="{{ path('concert_13block') }}" class="home-link" id="home-13block">
            <h2>CONCERT 13 BLOCK</h2>
            <span> Sidikey / Stavo / Zed / Zefor</span>
        </a>
        <h2 class="bottom-title">CONCERT ZAMDANE</h2>
    </section>

    <section class="home-scroll container" data-scroll="8">
        <h2 class="top-title">CONCERT 13 BLOCK</h2>
        <a href="{{ path('concert_zamdane') }}" class="home-link" id="home-zamdane">
            <h2>CONCERT ZAMDANE</h2>
            <span> Zamdane / Avepurplelord </span>
        </a>
        <h2 class="bottom-title">CONCERT PALACE PARTY</h2>
    </section>

    <section class="home-scroll container" data-scroll="9">
        <h2 class="top-title">CONCERT ZAMDANE</h2>
        <a href="{{ path('concert_palace') }}" class="home-link" id="home-palace">
            <h2>CONCERT PALACE PARTY</h2>
            <span> A2H / Emma Vender / Josué / Ori </span>
        </a>
    </section>

    <section class="home-boutique" data-scroll="10">
        <div class="home-boutique__container">
            <div class="texte"><p>EN DÉVELOPPEMENT<p></div>
            <div class="btn-boutique"><a href="{{ path('contact') }}">CONTACT</a></div>
        </div>

    </section>

    <section class="home-contact" data-scroll="11">
        <h2 class="contact-title">ÉCHANGEONS ENSEMBLE</h2>
        <div class="contact-text">
            <p>POUR LES DEMANDES GÉNÉRALES</p>
            <span>OU</span>
            </p>COLLABORER AVEC MOI</p>
        </div>
        <p class="contact-email"><a href="mailto:azuradesign@gmail.com">sazuradesign@gmail.com</a></p>
        <div class="contact-footer">
            <p class="title">SITE WEB :</p>
            <p class="mail"><a href="mailto:antoinecldn@gmail.com">antoinecldn@gmail.com</a></p>
        </div>

        <div class="footer_acceuil">
            <p class="text-footer" >ALL RIGHTS RESERVED©SAZURAVISUALS-STUDIOIKAR/2021</p>
        </div>

    </section>

{% endblock %}

